body{
  margin: 0;
  font-family: 'Nanum Gothic';
  background-color: #fffdd0;
}


header{
  height: 15vh;
  user-select: none;
}

.display-game,
.stats-container,
.container{
  display: flex;
  margin:auto;
}

.container{
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
.display-game {
  height: 80vh;
}

aside {
  display: inline-block;
  width: 15%;
  text-align: center;
}

h1{
  font-size: 1.5em;
  margin-bottom: 20%;
}

p{
  font-size: 1.5em;

}

.stats-container {
  align-items: left;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  user-select: none;
}

.stats-content {
  width: 95%;
  height: 20%;
  border-radius: 15px;
  margin-bottom: 18%;

}

.extra-margin{
  width: 100%;
}


main {
  width: 100%;
}

.scene{
  margin: 5px;
  width: 15%;
  height: 30.33%;
  perspective: 600px;
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
}

.back, .face{
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position:center;
  position: absolute;
  border-width: 3px 3px;
  backface-visibility: hidden;
  border-radius: 15%;

}

.back{
  background-color: black;
  background-image: url("../images/NBALogo.jpg")
}

.face{
  transform: rotateY(-180deg);
}

.unclickable {
  pointer-events: none;
  transform: rotateY(180deg);
}

.bucks{
  background-color: black;
  background-image: url("../images/bucks.png");
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: cover;
}

.bulls{
  background-color: black;
  background-image: url("../images/bulls.png");
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: cover;
}

.clippers{
  background-color: black;
  background-image: url("../images/clippers.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: cover;
}

.lakers {
  background-color: black;
  background-image: url("../images/lakers.png");
  background-repeat: no-repeat;
  background-position: 50% 35%;
  background-size: cover;
}

.mavericks{
  background-color: black;
  background-image: url("../images/mavericks.png");
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: cover;
}

.raptors{
  background-color: black;
  background-image: url("../images/raptors.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 25% 20%;
  background-size: cover;
}
.rockets{
  background-color: black;
  background-image: url("../images/rockets.png");
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: cover;
}

.warriors{
  background-color: black;
  background-image: url("../images/warriors.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-size: cover;
}

.timberwolves{
  background-color: black;
  background-image: url("../images/timberwolves.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  background-size: cover;
}

.hide{
  display: none;
}

.modal{
  user-select: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  overflow: none;
  background-size: 80%;
  background-color: #fffdd0;
}

#end-game p {
  display: inline-block;
  position: relative;

}

.button-container{
  position: relative;
  top: 24%;
  left: 40%;
  width: 58%;
  }

button{
  font-family:  'Nathum Gothic';
  font-size: 2rem;
  display: inline-block;
  background-color: transparent;
  border: 5px solid black;
  border-radius: 15px;
  padding: 2%;
  cursor: pointer;
  margin: 2%;
  width: 39%;
}

a{
  font-family: 'Nathum Gothic';
  text-decoration: none;
  color: black;
  opacity: .5;
  cursor: pointer;
}

@media only screen and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait){
  .button-container{
      top: 43%;
    }
  }

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape){
  img{
    width: 40%;
  }
    .button-container{
      top: 35%;
    }
  }




@media screen and (max-width: 1200px ){
  p {
    font-size: 1.3rem;
  }
  button {
    font-size: 1.5rem;
  }
}


@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    p {
        font-size: 1.5rem;
    }
  }

@media only screen and (max-device-width: 1024px) and (orientation: portrait), (max-width: 560px) {
  .stats-container,
  .stats-content{
    flex-direction: row;
    align-items: center;
  }

  p{
    font-size: 2rem;
  }

  h1{
    display: none;
  }

  .stats-container,
  aside{
    height:10vh;
    width: 100vw;
  }

  .face,
  .back{
    height: 100%;
    width: 100%;
  }

  header{
    display: none;
  }

  main{
    height: 85vh;
  }

  .display-game,
  .container{
    flex-wrap: wrap;
    justify-content: center;
  }
  .display-game{
    height: 100%;
  }
  .scene {
    width: 30%;
    height: 15%;
  }

  .stats-content{
    width: 100%;
    height: 90%;
    margin-bottom: 8%;
  }

  .extra-margin{
    margin-top: 40px;
    margin-bottom: 0;

  }

  a{
    font-size: 1.5rem;
  }

}


@media screen and (max-width: 1000px ) and (orientation: landscape){
  p {
    font-size: 1rem;
  }
  .button-container{
    top: 28%;
  }

  .stats-content p {
    margin-bottom: 30px;
  }

}

@media screen and (max-width: 823px) {
    .button-container{
      top: 35%;
    }
  }



@media screen and (max-width: 703px ){
  p {
    font-size: 1rem;
  }

  aside {
    width: 12%;
  }

  .scene{
  width: 14%;
  height: 30.33%;
}
}


@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) {
  .button-container{
    top: 26%;
  }
}
