/* html {
  background-color: #f5f2d0;
  overflow: hidden;
  max-height: 100%;
} */

  .lakers {
    background-image: url("../images/lakers.png");
  }
  .clippers {
    background-image: url("../images/clippers.png");
  }
  .rockets {
    background-image: url("../images/rockets.png");
  }
  .warriors {
    background-image: url("../images/warriors.png");
  }
  .bucks {
    background-image: url("../images/bucks.png");
  }
  .bulls {
    background-image: url("../images/bulls.png");
  }
  .mavericks {
    background-image: url("../images/mavericks.png");
  }
  .raptors {
    background-image: url("../images/raptors.png");

  }
  .timberwolves {
    background-image: url("../images/timberwolves.png");
  }

  .face {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: optimizeQuality;
  }
  /* .card {
    height: 15vh;
    width: 30vw;
    border: 1px solid #000080;
    position: relative;
    margin: 0.5%;
  } */
  .cardimg {
    background-image: url("../images/NBALogo.jpg");
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
    background-position: center;
  }
