/* html {
  height: 100vh;
  width: 100vw;
  background-color: #262626;
}

.header {
  border: 3px solid #dfd8c8;
  padding: 15px;
  width: 100%;
  text-align: center;
  color: #000000;
  font-size: 15px;
  background-color: #a39274;
  font-family: 'Nanum Gothic', sans-serif;
}

.aside {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
}

.bigcontainer {
  position: relative;
  display: flex;
  border: 5px solid #262626;
  background-color: #3f3f3f;
}

.stats {
  height: 80vh;
  width: 20vw;
  border: 2px solid #262626;
  display: flex;
  flex: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: justify;
  color: white;
  font-family: 'Nanum Gothic', sans-serif;
}

.stats1 {
  height: 18vh;
  width: 18vw;
  border: 2px solid #262626;
  display: flex;
  flex: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Nanum Gothic', sans-serif;
}

.stats2 {
  height: 18vh;
  width: 18vw;
  border: 2px solid #262626;
  display: flex;
  flex: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Nanum Gothic', sans-serif;
}

.stats3 {
  height: 18vh;
  width: 18vw;
  border: 2px solid #262626;
  display: flex;
  flex: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Nanum Gothic', sans-serif;
}

.stats4 {
  height: 18vh;
  width: 18vw;
  border: 2px solid #262626;
  display: flex;
  flex: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Nanum Gothic', sans-serif;
}

.stats5 {
  height: 18vh;
  width: 18vw;
  border: 2px solid #262626;
  display: flex;
  flex: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Nanum Gothic', sans-serif;
}

.stats6 {
  height: 18vh;
  width: 18vw;
  border: 2px solid #262626;
  display: flex;
  flex: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Nanum Gothic', sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  right: 50%;
}

.card {
  height: 100px;
  width: 170px;
  border: 1px solid #a39274;
  position: relative;
}

.cardimg {
  background-image: url("../images/NBALogo.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  object-fit: contain;
}

.jerryWest {
  background-image: url("../images/JerryWest.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.kareemAbudl-Jabbar {
  background-image: url("../images/KareemAbdul-Jabbar.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.kobeBryant {
  background-image: url("../images/KobeBryant.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.larryBird {
  background-image: url("../images/LarryBird.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.lebronJames {
  background-image: url("../images/LebronJames.png");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.michealJordan {
  background-image: url("../images/MichealJordan.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.shaquilleOneal {
  background-image: url("../images/ShaquilleOneal.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.wiltChamberlain {
  background-image: url("../images/WiltChamberlain.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.stephCurry {
  background-image: url("../images/StephCurry.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.modal {
  position: absolute;
  right: 50%;
  border: 2px solid #dfd8c8;
  z-index: 1;
  height: 50vh;
  width: 50vw;
  background-color: #3f3f3f;
}

.modalContent {
  background: #a39274;
  margin: 15% auto;
  padding: 20px;
  border: 2px solid #dfd8c8;
  width: 200px;
  font-family: 'Nanum Gothic', sans-serif;
}

.modalhide {
  visibility: hidden;
}

.hidden {
  display: none;
} */
